# Секреты и локальные конфиги
.env

# Локальная история пушей
history.json

# Бинарники Go
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
obsidian-bot
bot
# IDE
.idea/
.vscode/
*.iws
*.iml

# Логи
*.log

test_board.md